# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Keil ignore files
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep
*.htm
JLinkLog.txt
*.iex

*.sct
*.Administrator
*.uvguix.Administrator
*.uvopt
*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old
*~
*.obj
*.out
*.bak
*.dep
*.i
.DS_Stor*
*.uimg
*.uvguix*
*.orig

/MDK-ARM/*
#忽略.MDK-ARM文件夹及文件夹下文件
/MDK-ARM/FY-1102/*
MDK-ARM/FY-1102.uvguix.Administrator
*.uvguix.Administrator
*.Administrator
*.uvprojx
*.uvoptx